@keyframes body-car {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes clounds {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  to {
    opacity: 0;
    transform: translateX(-100vw);
  }
}