* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  transition: background 10s linear;
}

#car-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#car {
  z-index: 100000;
  /* transform: translateY(40px); */
}

#floor {
  width: 100vw;
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: rgb(61, 61, 61);
}

#right-wheel, #left-wheel {
  animation: wheel 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(-360deg);
  }
}

#body-car {
  animation: body-car 2s linear 1s infinite;
}

.clounds-container {
  width: 200vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  animation: clounds 10s linear infinite;
}

.clounds-container img:nth-child(1) {
  transform: translateY();
}

.clounds-container img:nth-child(2) {
  transform: translateY(50px);
}

.clounds-container img:nth-child(3) {
  transform: translateY(-50px);
}

.clounds-container img:nth-child(4) {
  transform: translateY(80px);
}